<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayoutLoggedIn}" th:with="currentPosition='specificStudent', currentTab='dashboard'">

<head>
	<title>Assessment fee summary</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>

<div layout:fragment="content">
	<p><br></p>
	<div class="ds_wrapper">

		<main class="ds_layout  ds_layout--article">
			<div class="ds_layout__content">
				<div class="ds_question">

					<h1> Payment for Needs Assessment Report
					</h1>
					<div>Total:&nbsp;&nbsp;&nbsp;<strong th:text="${assessmentFeeTotal}"></strong></div>
					<br>
					<table class="ds_table dsa_allowance_table" data-smallscreen="scrolling">

						<thead>
						<tr>
							<th scope="col">Name of Assessor</th>
							<th scope="col">Assessment centre</th>
							<th scope="col">Hours<br>
							</th>
							<th scope="col">Total Cost<br>
								<p class="ds_hint-text dsa_vat">Including VAT.</p>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item: ${assessmentFeeItems}">
							<td><span th:text="${item.assessorName}"></span>
							</td>
							<td><span th:text="${item.assessmentFeeCentreName}"></span></td>
							<td><span th:text="${item.totalHours}"></span></td>
							<td><span th:text="${item.costStr}"></span></td>
							<td>
								<form id="change_nmph" action="#" th:action="@{/changeAssessmentFee}"
									  th:if="${ADVISOR_DECLARTION_NOT_COMPLETED && LOGGEDIN_USER_TYPE  eq 'ADVISOR'}"
									  th:object="${assessmentFeeFormVO}" method="POST">
									<button class="ds_link ds_no-margin secondary_form" name="action"
											value="INT_CHANGE"
											data-button="about-student">Change
									</button>
									<input type="hidden" th:value="${item.id}" name="id"/>
									<input type="hidden" th:value="${dsaApplicationNumber}"
										   name="dsaApplicationNumber"/>
									<input type="hidden" th:value="${studentReferenceNumber}"
										   name="studentReferenceNumber"/>
								</form>
							</td>
							<td>
								<form id="remove_nmph" action="#" th:action="@{/removeAssessmentFee}"
									  th:if="${ADVISOR_DECLARTION_NOT_COMPLETED && LOGGEDIN_USER_TYPE  eq 'ADVISOR'}"
									  th:object="${addNMPHFormVO}"
									  method="POST">
									<button class="ds_link ds_no-margin secondary_form" name="action" value="remove"
											data-button="about-student">Remove
									</button>
									<input type="hidden" th:value="${item.id}" name="itemId"/>
									<input type="hidden" th:value="${item.assessmentFeeCentreName}"
										   name="itemName"/>
									<input type="hidden" th:value="${dsaApplicationNumber}"
										   name="dsaApplicationNumber"/>
									<input type="hidden" th:value="${studentReferenceNumber}"
										   name="studentReferenceNumber"/>
								</form>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="ds_button-group"
					 th:if="${ADVISOR_DECLARTION_NOT_COMPLETED && LOGGEDIN_USER_TYPE  eq 'ADVISOR'}">

					<form id="texp_summary_button" class="buttonInline" action="#" th:action="@{/travelExpSummary}"
						  th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>
						<input type="hidden" name="action" value="Summary"/>
						<input type="submit" class="ds_button ds_button--cancel"
							   value="Back">&nbsp;&nbsp;&nbsp;&nbsp;
					</form>


					<form id="travel_exp_save" class="buttonInline" action="#" th:action="@{/completeAssessmentFee}"
						  th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>

						<button class="ds_button  ds_no-margin" name="action" value="COMPLETE_ASSESSMENT_FEE"
								data-button="about-student">Save and
							continue
						</button>
					</form>
				</div>
				<div class="ds_button-group" th:if="${ADVISOR_DECLARTION_NOT_COMPLETED == false}">

					<form id="travel_exp_button" class="buttonInline" action="#"
						  th:action="@{/applicationDashboard}" th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>

						<input type="submit" class="ds_button ds_button--cancel" value="Back">
					</form>

				</div>
			</div>
		</main>
	</div>


</div>

</body>

</html>