<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Check your email to reset your password</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
<div layout:fragment="content">

	<div class="ds_page__middle">
		<span><br></span>
		<div class="ds_wrapper">

			<main id="main-content" class="ds_layout ds_layout--article">
				<div class="ds_layout__content border border-secondary p-3 rounded">
					<form id="resendForm" method="get">
						<p><br></p>
						<h1 class="ds_h1 dsa_h1">Check your email to reset your password</h1>
						<p>Check your registered email address for a secure link to reset your password.</p>
						<p>This one-time link may take a few minutes to arrive and will expire after 15 minutes.</p>
					</form>
				</div>
			</main>
		</div>
	</div>
</div>
</body>

</html>