<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<title>Create new password</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
<div layout:fragment="content">

	<div class="ds_wrapper">
		<main id="main-content" class="ds_layout ds_layout--article">
			<div class="ds_layout__content">
				<form id="createPasswordForm" action="#" th:action="@{/saveNewPassword}" method="post"
					  th:object="${createPasswordFormVO}">
					<p><br></p>
					<div tabindex="-1" th:if="${#fields.hasAnyErrors()}" class="ds_error-summary"
						 id="error-summary" aria-labelledby="error-summary-title" role="alert">
						<h2 class="ds_error-summary__title" id="error-summary-title">There is a problem</h2>
						<ul class="ds_error-summary__list">
							<li th:if="${#fields.hasErrors('password')}">
								<span><a th:href="${'#password'}" th:text="${password}" aria-label="password" class="field-error"></a></span>
							</li>
							<li th:if="${#fields.hasErrors('confirmPassword')}">
								<span><a th:href="${'#confirmPassword'}" th:text="${confirmPassword}"
										 aria-label="confirm password" class="field-error"></a></span>
							</li>
						</ul>
					</div>

					<div class="border border-secondary p-3 rounded">
						<h1 class="ds_h1 dsa_h1">Create a new password</h1>
						<p>Choose a new memorable password to secure your DSA Account.</p>
						<p>It needs to be a minimum of 14 characters and we recommend that it does not contain
							usernames, popular phrases or personal information such as date of birth, family names or
							pet names.</p>
						<p>Your password can include an upper case letter, number or special character, but you do not
							have to include these.</p>
						<p>Do not choose a password you have used before.</p>
					</div>

					<div class="ds_question"
						 th:classappend="${#fields.hasErrors('password')} ? 'ds_question--error'">
						<label class="ds_label" for="password">Password</label>
						<div class="ds_question__error-message" th:if="${#fields.hasErrors('password')}"
							 th:errors="*{password}">
						</div>
						<input th:classappend="${#fields.hasErrors('password')} ? 'ds_input--error'"
							   class="ds_input ds_input--fixed-20" maxlength="64" type="password" id="password"
							   name="password" th:field="*{password}"/>
						<p class="small_text_grey">You can enter up to 64 characters</p>
					</div>

					<p><br></p>

					<div class="ds_question"
						 th:classappend="${#fields.hasErrors('confirmPassword')} ? 'ds_question--error'">
						<label class="ds_label" for="confirmPassword">Confirm Password</label>
						<div class="ds_question__error-message" th:if="${#fields.hasErrors('confirmPassword')}"
							 th:errors="*{confirmPassword}">
						</div>
						<input th:classappend="${#fields.hasErrors('confirmPassword')} ? 'ds_input--error'"
							   class="ds_input ds_input--fixed-20" maxlength="64" type="password" id="confirmPassword"
							   name="password" th:field="*{confirmPassword}"/>
						<p class="small_text_grey">You can enter up to 64 characters</p>
					</div>

					<div class="ds_button-group">
						<input type="submit" class="ds_button dsa_button" value="Save and continue">
					</div>

					<input type="hidden" th:value="${createPasswordFormVO.email}" name="email"/>
					<input type="hidden" th:value="${createPasswordFormVO.userId}" name="userId"/>
				</form>
			</div>
		</main>
	</div>
</div>
</body>

</html>