<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<title>Sign In</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
<div layout:fragment="content">

	<div class="ds_wrapper">
		<main id="main-content" class="ds_layout ds_layout--article">
			<div class="ds_layout__content">

				<form id="forgotPasswordForm" action="#" th:action="@{/forgotPassword}" method="post"
					  th:object="${forgotPasswordFormVO}">
					<p><br></p>
					<div tabindex="-1" th:if="${#fields.hasErrors('emailAddress')}" class="ds_error-summary"
						 id="error-summary" aria-labelledby="error-summary-title" role="alert">
						<h2 class="ds_error-summary__title" id="error-summary-title">There is a problem</h2>
						<div class="ds_question__error-message" th:if="${#fields.hasErrors('emailAddress')}"
							 th:errors="*{emailAddress}">
						</div>
					</div>

					<div class="border border-secondary p-3 rounded">
						<h1 class="ds_h1 dsa_h1">Forgotten password</h1>
						<p>If your work email address is associated with a DSA Account, we’ll send you a link to reset
							your password. </p>
					</div>


					<div class="ds_question"
						 th:classappend="${#fields.hasErrors('emailAddress')} ? 'ds_question--error'">

						<label class="ds_label" for="emailAddress">Work email address</label>

						<div class="ds_question__error-message" th:if="${#fields.hasErrors('emailAddress')}"
							 th:errors="*{emailAddress}">
						</div>

						<input th:classappend="${#fields.hasErrors('emailAddress')} ? 'ds_input--error'"
							   class="ds_input ds_input--fixed-20" maxlength="254" type="text" id="emailAddress"
							   name="emailAddress" th:field="*{emailAddress}"/>
					</div>

					<div>
						<p>If you no longer have access to the email account, you can<a th:href="@{/help#tab3}"
																						id="contact_us">contact the DSA
							Team</a></p>
					</div>


					<div class="ds_button-group">
						<input type="submit" class="ds_button dsa_button" value="Continue">
					</div>
				</form>
			</div>
		</main>
	</div>
</div>
</body>

</html>