<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Notification Link Expired</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
<div layout:fragment="content">
	<div class="ds_wrapper">
		<main id="main-content" class="ds_layout ds_layout--article">
			<div class="ds_layout__content border border-secondary p-3 rounded">
				<p><br></p>
				<form id="startform" method="get">
					<h1 class="ds_h1 dsa_h1">Your sign-in link has expired</h1>
					<p>The secure sign-in link sent to your registered email address has expired.</p>
					<h3>What you can do next</h3>
					<ul class="dsa_list">
						<li>request a new <a th:href="@{/resendLoginLink}">sign-in</a>link</li>
						<li>if you still cannot sign in to your account, contact the <a th:href="@{/help#tab3}">DSA
							Team</a>
						</li>
					</ul>
					<input type="hidden" th:value="${advisor.email}" name="emailAddress"/>
				</form>
			</div>
		</main>
	</div>
</div>
</body>

</html>