<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Password Reset</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>
<div layout:fragment="content">

	<div class="ds_page__middle">
		<span><br></span>
		<div class="ds_wrapper">
			<main id="main-content" class="ds_layout ds_layout--article">
				<div class="ds_layout__content border border-secondary p-3 rounded">
					<p><br></p>
					<form id="passwordReset" method="get">
						<h1 class="ds_h1 dsa_h1">Your password has been reset</h1>
						<p>To continue to use the service, please <a th:href="@{/login}" id="login">sign in</a>.</p>
					</form>
				</div>
			</main>
		</div>
	</div>
</div>
</body>

</html>