<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

	  layout:decorate="~{layout/dsaLayoutLoggedIn}" th:with="currentPosition='specificStudent', currentTab='dashboard'">

<head>
	<title>Consumables Summary</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>

<div layout:fragment="content">
	<div class="ds_wrapper">
		<main class="ds_layout  ds_layout--article">
			<div class="ds_layout__content">
				<p><br></p>
				<div class="ds_warning-text ds_warning-text-new ds_important-text-grey"
					 th:if="${consumablesTotalExceeded}" data-module="ds-notification">
					<strong class="ds_warning-text__icon" aria-hidden="true"></strong>
					<strong class="visually-hidden">Warning</strong>
					<div class="ds_warning-text__text">
						You have exceeded your allowance limit of <strong><span
							th:text="${consumablesCap}"></span></strong> for the academic year.
						You
						can still continue with the application and we will review this along with your other
						allowance
						recommendations.
					</div>
					<button class="ds_notification__close  js-close-notification" type="button"
							data-button="button-close-this-notification" data-banner="banner-1-close">
						<span class="visually-hidden">Close this notification</span>
						<img th:src="@{/images/icon-cross.svg}" class="icon_cross" alt="close">
					</button>

				</div>

				<div class="ds_question">
					<span class="ds_hint-text">Part 3 of 3</span>
					<h1><span th:text="${studentFirstName}"></span>'s consumable items allowance</h1>
					<h2 class="consumable">Total:&nbsp;&nbsp;&nbsp;<strong th:text="${consumablesTotal}"></strong>
					</h2>
					<br>
					<p>You have added <strong><span th:text="${consumablesCount}"></span></strong> consumable
						items.</p>
					<table class="ds_table dsa_allowance_table" data-smallscreen="scrolling">
						<caption class="visually-hidden">Consumable items list</caption>
						<thead>
						<tr>
							<th scope="col">Consumable items</th>
							<th scope="col">Cost<br>
								<p class="ds_hint-text dsa_vat">Including VAT.</p>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="item: ${consumableItems}">
							<td><span th:text="${item.consumableItem.itemName}"></span>
								<p class="ds_hint-text dsa_vat" th:if="${!#strings.isEmpty(item.otehrItemText)}"
								   th:text="${item.otehrItemText}"></p>
							</td>
							<td><span th:text="${item.costString}"></span></td>
							<td>
								<form id="change_consu_item" action="#" th:action="@{/changeConsumable}"
									  th:object="${applicationKeyDataFormVO}" method="POST">
									<button class="ds_link  ds_no-margin secondary_form" name="action"
											value="CHANGE_FROM_SUMMARY" data-button="about-student">Change
									</button>
									<input type="hidden" th:value="${item.id}" name="consumableItemId"/>
									<input type="hidden" th:value="${dsaApplicationNumber}"
										   name="dsaApplicationNumber"/>
									<input type="hidden" th:value="${studentReferenceNumber}"
										   name="studentReferenceNumber"/>
								</form>
							</td>
							<td>
								<form id="remove-consu-item" action="#" th:action="@{/removeConsumable}"
									  th:object="${consumableItemRemoveFormVO}" method="POST">
									<button class="ds_link  ds_no-margin secondary_form" name="action" value="remove"
											data-button="about-student">Remove
									</button>
									<input type="hidden" th:value="${item.id}" name="consumableItemId"/>
									<input type="hidden" th:value="${item.consumableItem}"
										   name="consumableItem"/>
									<input type="hidden" th:value="${dsaApplicationNumber}"
										   name="dsaApplicationNumber"/>
									<input type="hidden" th:value="${studentReferenceNumber}"
										   name="studentReferenceNumber"/>
								</form>
							</td>
						</tr>
						</tbody>
					</table>

					<form id="add_consuambles" action="#" th:if="${hideAddAnother eq false}"
						  th:action="@{/initConsumables}" th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" name="action" value="ADD_FROM_CONSU_SUMMARY"/>
						<button class="ds_link  ds_no-margin secondary_form" data-button="about-student">Add another
						</button>
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>
					</form>

				</div>

				<div class="ds_button-group">
					<form id="disability_details" class="buttonInline" action="#"
						  th:action="@{/disabilitiesSummary}" th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>
						<input type="hidden" name="action" value="BACK_TO_DISABILITY_SUMMARY"/>
						<input type="submit" class="ds_button ds_button--cancel"
							   value="Back">&nbsp;&nbsp;&nbsp;&nbsp;
					</form>
					<form id="nmph_allowance" class="buttonInline" action="#" th:action="@{/chooseQuoteOption}"
						  th:object="${applicationKeyDataFormVO}" method="POST">
						<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
						<input type="hidden" th:value="${studentReferenceNumber}" name="studentReferenceNumber"/>
						<button class="ds_button  ds_no-margin" name="action" value="ADD_EQUIPMENT_FROM_CONSUMABLES"
								data-button="about-student">Save and continue
						</button>
					</form>
				</div>
			</div>
		</main>
	</div>


</div>

</body>

</html>