<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayoutLoggedIn}" th:with="currentPosition='specificStudent'">

<head>
	<title>Student Declaration Not Accepted</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>

<body>

<div layout:fragment="content">
	<div class="ds_page__middle">
		<div class="ds_wrapper">
			<main class="ds_layout  ds_layout--article">
				<div class="ds_layout__content">
					<div class="ds_question ds_input--fixed-40">
						<p></p>
						<div class="ds_notification-panel ds_notification-panel--success">
							<h1 class="ds_notification-panel__title">Student declaration has not been accepted</h1>
						</div>
						<h2>What happens next</h2>
						<p>Please speak to your Disability Advisor or HEI team to let them
							know that you have not accepted the student declaration. They can talk you through the
							statements on the page, review the application with you and make any relevant changes. Once
							they have done this, you will get another notification to sign in, accept your student
							declaration, and submit the application for processing.</p>
						<p>We will automatically withdraw this application if no action is
							taken within 90 days.</p>
						<p>If you need help with anything else, please contact the DSA
							Team.</p>
						<div class="ds_button-group">
							<form th:action="@{/continueNext}" method="POST">
								<input type="submit" class="ds_button dsa_button" name="action"
									   data-button="button-finish" value="Finish">
								<input type="hidden" th:value="${studentReferenceNumber}"
									   name="studentReferenceNumber"/>
								<input type="hidden" th:value="${dsaApplicationNumber}" name="dsaApplicationNumber"/>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
</body>
</html>