<div id="cookie-notice"
	 class="ds_notification ds_notification--large ds_notification--cookie js-initial-cookie-content fully-hidden"
	 data-module="ds-cookie-notification">
	<div class="ds_wrapper">
		<div class="ds_notification__content">
			<h2 class="visually-hidden">Information</h2>

			<div class="ds_notification__text">
				<p>We use cookies to collect and store information about how you use the DSA online service.</p>
			</div>
			<br>
			<div class="cookie-buttons">
				<button class="ds_button ds_button--small js-accept-all-cookies"
						data-button="button-accept-all-cookies" data-banner="banner-cookie-notice-accept-all-cookies">
					Close
				</button>
				<button class="ds_button ds_button--small ds_button--secondary js-accept-essential-cookies fully-hidden">
					Use essential cookies only
				</button>
				<span class="ds_reversed">
					<a href="https://www.saas.gov.uk/data-protection/cookies" target="_blank"
					   class="ds_button ds_button--small ds_button--secondary">
						Learn more
					</a>
				</span>
			</div>
		</div>
	</div>
</div>
<div id="cookie-confirm" class="fully-hidden"></div>
