<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="hideBeta=true">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Account already activated</title>
</head>

<body>
<div layout:fragment="content">
	<div class="ds_wrapper">
		<main id="main-content" class="ds_layout ds_layout--article">
			<div class="ds_layout__content border border-secondary p-3 rounded">
				<br/>
				<form id="exceededForm" method="get">
					<h1 class="ds_h1 dsa_h1">Account already verified</h1>
					<p><a th:href="@{/login}" id="login">Sign in</a> to use your DSA Account
					</p>
				</form>
			</div>
		</main>
	</div>
</div>
</body>

</html>