<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}">

<head>
	<title>Page Not Found</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
</head>

<body>
<div layout:fragment="content">

	<div class="ds_wrapper">
		<main id="main-content" class="ds_layout ds_layout--article">
			<div class="ds_layout__content">
				<p><br></p>
				<h1>Page not found</h1>
				<a href="javascript:" id="pageNotFoundBack">&lt; Back</a>
				<p></p>
				<p>Check the web address is correct.</p>
				<p class="ds_input--fixed-40">
					If you still cannot activate your account, contact the <a
						href="mailto:saas_dsaonline_enquiries@gov.scot">DSA Team</a>.
				</p>
			</div>
		</main>
	</div>
</div>
</body>

</html>