<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/dsaLayout}" th:with="currentTab='help', hideBeta=true">

<head>
	<title>Help</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
</head>

<body>
<div layout:fragment="content">
	<div class="ds_page__middle">
		<div class="ds_wrapper">
			<main class="ds_layout  ds_layout--article">
				<div class="ds_layout__content">
					<div class="ds_question">
						<p><br></p>
						<h1>Get help with Disabled Students’ Allowance</h1>
						<p>This guide will help you create and manage your DSA Account. If you still need help, contact
							the DSA Team.</p>
						<br>

						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<span class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/pdf.svg}" alt="PDF Document"/>
								</span>
							</div>
							<div class="ds_file-download__content">
								<a href="https://www.saas.gov.uk/files/855/dsa-online-beta-guide.pdf"
								   class="ds_link" aria-describedby="file-download"><h2>DSA Guide to Private and Public Beta</h2></a>
								<p>This guide gives information about DSA online including a summary of
									functionality available to you and students applying for DSA.</p>

								<div id="file-download-1" class="ds_file-download__details">
									<dl class="ds_metadata  ds_metadata--inline">
										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File type</dt>
											<dd class="ds_metadata__value">4 pages<span
													class="visually-hidden">,</span>
											</dd>
										</div>

										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File size</dt>
											<dd class="ds_metadata__value">156Kb</dd>
										</div>
									</dl>
								</div>
							</div>
						</div>

						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<span class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/pdf.svg}" alt="PDF Document"/>
								</span>
							</div>

							<div class="ds_file-download__content">
								<a href="https://drive.google.com/drive/folders/149YhFH8Kxx_FWsVbEJ2ArO8NaNN38Yhu"
								   class="ds_link" aria-describedby="file-download"><h2>Guide to Disabled Student Allowance for Disability Advisors</h2></a>
								<p>This guide is designed for advisors and provides guidance about
									Disabled Student’s Allowance for the current session.</p>


								<div id="file-download-2" class="ds_file-download__details">
									<dl class="ds_metadata  ds_metadata--inline">
										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File type</dt>
											<dd class="ds_metadata__value">46 pages<span
													class="visually-hidden">,</span>
											</dd>
										</div>

										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File size</dt>
											<dd class="ds_metadata__value">582Kb</dd>
										</div>
									</dl>
								</div>
							</div>
						</div>

						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<span class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/video-icon.svg}" alt="PDF Document"/>
								</span>
							</div>
							<div class="ds_file-download__content">
								<a href="https://drive.google.com/drive/folders/1Ilvk81oSlO4D1-BX4fL3w1pAcQ3WZ-N7"
								   class="ds_link" aria-describedby="file-download"><h2>Video guides on how to use DSA online</h2></a>
								<p>Our video guides show you how to use the service to apply for DSA. The videos include how you compile the DSA application,
									what the student does to submit their application to SAAS and what the student sees when they get their new digital award.</p>
							</div>
						</div>

						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<span class="ds_file-download__thumbnail-link" aria-hidden="true" tabindex="-1">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/pdf.svg}" alt="PDF Document"/>
								</span>
							</div>
							<div class="ds_file-download__content">
								<a href="https://www.saas.gov.uk/files/853/saas-dsa-guide-account-setup-and-management.pdf"
								   class="ds_link" aria-describedby="file-download"><h2>DSA Guide to Account Set-Up and
									Management</h2></a>
								<p>This guide gives information on creating a DSA Account, enabling you to start a DSA
									online application on behalf of a student.</p>

								<div id="file-download-4" class="ds_file-download__details">
									<dl class="ds_metadata  ds_metadata--inline">
										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File type</dt>
											<dd class="ds_metadata__value">3 pages<span
													class="visually-hidden">,</span>
											</dd>
										</div>

										<div class="ds_metadata__item">
											<dt class="ds_metadata__key  visually-hidden">File size</dt>
											<dd class="ds_metadata__value">172Kb</dd>
										</div>
									</dl>
								</div>
							</div>
						</div>


						<div class="hrHelp"></div>
						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<div class="ds_file-download__thumbnail-link">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/phone.svg}" alt="Document"/>
								</div>
							</div>
							<div class="ds_file-download__content">
								<h2 aria-describedby="telephone-helpline" class="ds_no-margin">DSA Team telephone
									helpline</h2>
								<strong>0131 287 0952</strong>
								<p><br>The opening times are:</p>
								<ol class="ds_summary-list search-result">
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Day</strong>
										</div>
										<div class="ds_summary-list__value"><strong>Opening times</strong></div>
									</li>
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Monday</strong>
										</div>
										<div class="ds_summary-list__value">9am to 4pm</div>
									</li>
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Tuesday</strong>
										</div>
										<div class="ds_summary-list__value">9am to 4pm</div>
									</li>
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Wednesday</strong>
										</div>
										<div class="ds_summary-list__value">9am to 4pm</div>
									</li>
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Thursday</strong>
										</div>
										<div class="ds_summary-list__value">9am to 4pm</div>
									</li>
									<li class="ds_summary-list__item">
										<div class="ds_summary-list__key">
											<strong>Friday</strong>
										</div>
										<div class="ds_summary-list__value">9am to 3.30pm</div>
									</li>
								</ol>
							</div>
						</div>
						<div class="hrHelp"></div>
						<div class="ds_file-download">
							<div class="ds_file-download__thumbnail">
								<div class="ds_file-download__thumbnail-link">
									<span class="visually-hidden">Document cover image</span>
									<img class="ds_file-download__thumbnail-image"
										 th:src="@{/images/email.svg}" alt="Document"/>
								</div>
							</div>
							<div class="ds_file-download__content">
								<h2 aria-describedby="email">Email</h2>
								<p>
									<a href="mailto:saas_dsaonline_enquiries@gov.scot">saas_dsaonline_enquiries@gov.scot</a>
								</p>
							</div>
						</div>

					</div>
				</div>
			</main>
		</div>
	</div>
</div>
</body>

</html>